@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background-color: #111927;
  background-image: 
      radial-gradient(at 47% 33%, hsla(162, 77%, 40%, 0.363) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);
}

.hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Glassmorphism card effect */
.glassmorphism {
  backdrop-filter: blur(18px) saturate(200%);
  -webkit-backdrop-filter: blur(18px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.76);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.outfit-deconame {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150px;
  font-style: normal;
}
.card.glassmorphism {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.card-img-top {
  display: flex;
  justify-content: center;
}

.card-img-top img {
  width: 50%; /* adjust the width as needed */
  margin: 20px; /* add some margin to create space around the image */
  border-radius: 50%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.social-icons li {
  margin: 10px;
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(17, 25, 40, 0.76);
  border: 1px solid rgba(255, 255, 255, 0.125);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-link:hover {
  background-color: rgba(17, 25, 40, 0.9);
  border-color: rgba(255, 255, 255, 0.5);
}

.social-link i {
  font-size: 24px;
  color: #fff;
  margin: 8px;
}

.social-link.github {
  background-color: #161414;
}

.social-link.github:hover {
  background-color: #161414; /* brownish color */
}

.social-link.x {
  background-color: #1DA1F2;
}

.social-link.x:hover {
  background-color: #000; /* black color */
  color: #fff;
}

.social-link.linkedin {
  background-color: #0072b1;
}

.social-link.linkedin:hover {
  background-color: #006097; /* blue color */
}

.social-link.instagram {
  background-color: #000; /* black color */
  background-size: 100% 200px;
  background-position: 0% 100%;
  transition: background-position 0.3s ease-in-out;
}

.social-link.instagram:hover {
  background-color: #000; 
}

.social-link.glassmorphism {
  backdrop-filter: blur(18px) saturate(200%);
  -webkit-backdrop-filter: blur(18px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.76);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}